@{
    List<Product> products = ViewBag.Products;
    List<Brand> brands = ViewBag.Brands;
}

<div style="display:inline-block;">
    <h1>Products:</h1>
    <ul>
        @foreach (var product in products)
        {
            <li>@product.Name</li>
        }
    </ul>
</div>

<div style="display:inline-block; padding-left:60px">
    <h1>Brands:</h1>
    <ul>
        @foreach (var brand in brands)
        {
            <li>@brand.Name</li>
        }
    </ul>

</div>